<%- include('include/_headerAdmin') %>

<div class="container mt-5 mb-5">
    <div class="row">
        
        <div class="col-md-4 mb-3">
            <div class="card p-5">
                <div class="col-md-12 text-center">
                    <h3 class="mt-4">الطلاب</h3>
                    
                    <a href="/dashboard-students" class="get-started-btn">تحكم</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card p-5">
                <div class="col-md-12 text-center">
                    <h3 class="mt-4">اولياء الامور</h3>
                    
                    <a href="/dashboard-fathers" class="get-started-btn">تحكم</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card p-5">
                <div class="col-md-12 text-center">
                    <h3 class="mt-4">الفصول</h3>
                    
                    <a href="/dashboard-courses" class="get-started-btn">تحكم</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card p-5">
                <div class="col-md-12 text-center">
                    <h3 class="mt-4">المدرسين</h3>
                    
                    <a href="/dashboard-trainers" class="get-started-btn">تحكم</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-3">
            <div class="card p-5">
                <div class="col-md-12 text-center">
                    <h3 class="mt-4">الحسابات</h3>
                    
                    <a href="/dashboard-accounts" class="get-started-btn">تحكم</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('include/_footerAdmin') %>